/* Download Font Experiment */
@font-face {
    font-family: myFont;
    src: url(Fonts/Dolce.ttf);
}

body {
    background-color: #37306B;
    overflow: hidden;
    padding: 0;
    margin: 0;
    caret-color: transparent;
}

/* Style Intro */
.hello {
    font-family: 'Bellota Text', sans-serif, Arial, sans-serif;
    color: #9E4784;
    text-align: center;
    font-size: 2em;
    padding: 1% 0 0 0;
}

/* Container for flexbox and create two columns */
#flex-container {
    display: flex;
    flex-direction: row;
}

#column1 {
    width: 50%;
    height: 100vh;
    margin: 3% 0 0 3%;
}

#column2 {
    width: 50%;
    height: 100vh;
    padding: 3% 0 0 5%;
}

/* Size space for photo in column1 */
#red-selfie {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0 0 3% 25%;
}

/* Style photo in column1 */
img {
    max-width: 75%;
    max-height: auto;
    object-fit: contain;
    border-radius: 10%;
    border: 1px black solid;
}

/* Style text block */
.me,
.interests
    {
    display: block;
    font-family: 'Bellota Text', sans-serif, Arial, sans-serif;    
    color: #9D76C1;
    max-width: 75%;
    text-align: left;
}

.menu {
    display: block;
    font-family: myFont/*'Bellota Text'*/, sans-serif, Arial, sans-serif;
    color: #9D76C1;
    max-width: 75%;
    text-align: left;
}
/* 
.interests {
    color: #645CAA;
} */

/* Set max character width */
.about {
    max-width: 60ch;
}

/* Create space between interests, menu and about me */

.interests,
.menu {
    padding: 1% 0 0 0;
}

/* Style menu appearance and spacing in text block */
.menu {
    font-size: 1em;
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: #D27685;
    text-decoration: none;
}

/* Add media query to go to one column for screens smaller than 500px */ 
@media screen and (max-width: 800px) {
    body {
        /* background: lightgrey; */
        overflow: scroll;
    }

    /* Set container to flex column-wise */
    #flex-container {
        display: flex;
        flex-direction: column;
    }

    #column1 {
        /* background: blue; */
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    #column2 {
        width: 100%;
        height: auto;
        padding: 3% 0 0 5%;
        /* background: yellow; */
        margin: 0;
        padding: 0;
    }

    /* Size space for photo in column1 */
    #red-selfie {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        align-self: center;
        padding: 3% 0 3% 0;
    }

    /* Style photo in column1 */
    img {
        max-width: 50vw;
        max-height: auto;
        object-fit: cover;
        border-radius: 10%;
    }

    /* Style text block */
    .me,
    .interests,
    .menu {
        display: block;
        /* color: #9D76C1; */
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
    }

    .menu {
        font-size: 1em;
        display: flex;
        justify-content: space-around;
        padding: 5%;
    }

}
