body {
    background-color: #37306B;
    overflow: scroll;
    padding: 0;
    margin: 0;
}

.hello {
    color: purple;
    text-align: center;
    font-size: 3em;
    margin: 5%;
    
}

img {
    max-width: 45%;
    /* max-height: auto; */
    object-fit: contain;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: black 3px solid;
    
}

.me, .interests, .menu {
    display: block;
    color: green;
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 3%;
    
}

.me {
    padding: 1% 0 0 0;
}

.interests {
    padding: 1%;
}

p {
    max-width: 75ch;
    text-justify: inter-word;
}

.menu {
    font-size: 1em;
    display: flex;
    justify-content: space-around;
    padding: 3%;
}

.menu a {
    color: #D27685;
    text-decoration: none;

}

/* For screens larger than 500px go to two columns */
 @media screen and (min-width: 900px) {

    /* Container for flexbox and create two columns */
    body {
        background-color: gray;
        overflow: scroll;
    }
 

    .hello {
        color: purple;
        text-align: center;
        font-size: 2em;
        margin: 0;
    }


    /* Container for flexbox and create two columns */
     #flex-container {
            display: flex;
            flex-direction: row;
            
        }
    
    .column1 {
        width: 50%;
        height: 100vh;
        margin: 3% 0 0 3%;
        }
    
    #column2 {
        width: 50%;
        height: 100vh;
        padding: 3% 0 0 5%;
    }
 
    
        
    /* #flex-container {
        display: flex;
        flex-direction: row;

    } */



    /* .column1, .column2 {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        flex: 1;
        height: 90vh;
    } 
    .column1 {
        width: 50%;
        height: 100vh;
        background-color: green;
        text-align: right;
        color: white;
    }

    /* .column1 {
        width: 30%;
        height: 100vh;
        background-color: green;
        border: orange 3px solid;
    } 

    #column2 {
        width: 50%;
        height: 100vh;
        background-color: blue;
        border: yellowgreen 3px solid;
    }*/

    #red-selfie {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            margin: 10px 0 0 25%;
        } 

/* Place photo in column 1 */
    img {
        display: flex;
        max-width: 75%;
        max-height: auto;
        object-fit: contain;
        border-radius: 10%;
        align-self: flex-start;
}
}
   /* .me,
    .interests,
    .menu {
        display: block;
        color: green;
        max-width: 75%;
        text-align: left;

    }

    p {
        max-width: 75ch;
    }

    .interests,
    .menu {
        padding: 3% 0 0 0;
    }
}*/