/* Place image in background so text will slightly overlap */
body {
    background-color: rgb(190, 106, 21);
    background-size: 50vh;
    background-position: center center;
    background-image: url("IMG_1832_Original.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 4vh 0 0 0;
  }

/* Style and position name responsively */
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: /*30vh*/ 15vw;
    color: rgb(50, 31, 40);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    text-wrap: nowrap;
    letter-spacing: 1vh;
    margin: -10vh;
    padding: 0vh 12vw 0 11vw;
    caret-color: transparent;
}

/* Create empty div to space name and menu */
.empty-space {
    display: block;
    height: 60vh;
    margin: 1vh;
}

/* Style menu and create a grid inside */
.menu {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    /*display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-self: flex-end;*/
    font-family: arial;
    font-size: 1em;
    color: rgb(50, 31, 40);
    margin-bottom: 2vw; 
}

/* grid-item {
    position: relative;
    text-align: center;

} */

/* Style links in the menu */
.menu a {
    color: rgb(50, 31, 40);
    text-decoration: none;
      
}
a:hover {
    cursor: pointer;
}

a:active {
    color: rgb(243, 207, 122);
}

/* Place menu links inside grid with paddiing to 
fine-tune item placement*/
.about {
    grid-column: 1;
    text-align: left;
    padding-left: 3vw;
}

.resume {
    grid-column: 2;
    text-align: center;
}   

.contact {
    grid-column: 3;
    text-align: right;
    padding-right: 3vw;
}

/* Add media query to fix name for screens smaller than 800px */ 
@media screen and (max-width: 800px) {
    .name {
        padding: 15% 0 0 0;
        font-weight: bold;
    }
}